* {
  margin:0;
  padding:0;
  color: white;
}

#App {
  width: 100%;
  height: max-content;
  background-image: url("./ferenc-horvath-skcFiBu91AA-unsplash.jpg");
  background-size: cover;
}

#header {
  text-align: center;
  font-size: 5rem;
  padding: 1em 0 0 0;
}

