@font-face {
  font-family: Awe;
  src: url(./public/fonts/awesome-lathusca/Awesome-Lathusca.ttf);
}

* {
  margin:0;
  padding:0 0 0 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

#logo {
  position: absolute;
  top: 45%;
  left: 46%;
  height: 7.5em;
  width: 7.8em;
  border-radius: 50%;
  border: 3px solid white;
  outline: 7px double white;
  outline-offset: 0.2rem;
  background-color: #74616c;
}

#title-line {
  width: 70%;
  height: auto;
  background-color: #74616c;
  border-top: 1px solid #74616c;
}

#hero-grid {
  height: 100vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}


#massage-photo {
  width: 100vw;
  height: 70vh;
  background-image: url(./public/images/bodybackground.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-family: 'Awe', sans-serif;
  font-weight: 200;
  font-size: 4rem;
  text-decoration: none;
  letter-spacing: 0.1rem;
  line-height: 4rem;
  color:#74616c;
}

#hero-title {
  padding-top: 0.2em;
  width: 100vw;
  height: 63vh;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}


#description {
  line-height: 3rem;
  font-family: sans-serif;
  font-size: 1.8rem;
  font-weight: 100;
  color:#74616c;
  
}

#motto {
  display: flex;
  justify-self: end;
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  color:#74616c;
}

/* Button */

.outline {
  z-index: 3;
  background: transparent;
  font-size: 14px;
  border-color: #74616c;
  border-style: solid;
  border-width: 2px;
  border-radius: 22px;
  padding: 10px 40px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
.purple-white {
  color: white;
  background: #74616c;
  border-color: #74616c;
}
.purple-white:hover {
  cursor: pointer;
  font-weight: 700;
  color: #74616c;
  border-color: #74616c;
  background: transparent;
}

@media only screen and (max-width: 1060px) {
  #hero-title {
    height: 72vh;
  }
  .title {
    font-size: 2.7rem;
    line-height: 3.5rem;
  }
  #logo {
    height: 4.2em;
    width: 4.5em;
  }
  #description {
    font-size: 1.4rem;
  }
  #motto {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 447px) {
  #hero-grid {
    display: grid;
    grid-template-areas: 
    'a'
    'b';
  }
  #massage-photo {
    grid-area: a;
    height: 40vh;
    width: 100%;
  }
  #hero-title {
    height: 63vh;
    grid-area: b;
    justify-content: space-evenly;
  }
  #title-line {
    margin: -3rem 0 -2em 0;
  }
  #logo {
    height: 3.8em;
    width: 4.1em;
    top: 38%;
    left: 40%;
  }
  .title {
    padding-top: 0rem;
    font-weight: 200;
    font-size: 2rem;
    letter-spacing: 0.05rem;
    line-height: 2rem;
    color:#74616c;
  }
  #description {
    margin-bottom: -1.9em;
    line-height: 1.7rem;
    font-size: 1.3rem;
    font-weight: 200;
    color:#74616c;
  }
  #construction-button {
    margin-bottom: 0.5em;
  }
  #motto {
    margin-top: -4rem;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }
}


