* {
  margin:0;
  padding:0 0 0 0;
  color: white;
  font-family: 'Barlow', sans-serif;
  overflow-x: hidden;
}

#App {
  width: 100%;
  height: max-content;
  padding: 1em 0em 1em 0em;
  background-image: url("./public/ferenc-horvath-skcFiBu91AA-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#nav {
  width: 100%;
  height: 2.5em;
  padding: 0.5em 0em 0.5em 0.5em;
  overflow: hidden;
  background: linear-gradient(to right, #878ec6 60%,#23d4f2) ;
  position: fixed;
  top: 0;
}

#header {
  text-align: center;
  font-size: 3rem;
  padding: 2em 1em 0 1em;
}

#services {
  width: 100%;
  border: solid 0.15em black;
  display: grid;
  grid-template-areas: "a, b";
  grid-template-columns: 50% 50%;
  row-gap: 0;
  column-gap: 0;
}

#s-text {
  grid-area: "a";
  width: 100%;
  height: 30em;
  background: white;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#services-text {
  font-size: 3rem;
}

#services-description {
  padding: 0 1em 0 1.5em;
}

#comp-services-text {
  font-size: 2.5rem;
}
#comp-services-list {
  font-size: 1.2rem;
}

#services-image {
  grid-area: "b";
  max-width: 100%;
  height: 30em;
}

#rates {
  width: 100%;
  height: 40em;
  text-align: center;
  display: grid;
  grid-template-areas:
  "title title title title",
  "card-1 card-2 card-3 card-4"
  ;
  grid-template-columns: 20em 20em 20em 20em;
  grid-template-rows: 18em 18em;
  justify-content: space-evenly;
}

#rates-title {
  padding: 0.7em 0 0 1em;
  grid-area: "title";
  grid-column-start: 0;
  grid-column-end: 2;
  align-self: center;
  justify-self: center;
  align-content: center;
  width: 11em;
  height: 4.3em;
  text-align: center;
  font-size: 3em;
  background: white;
  color: black;
  border: solid 0.05em black;
  border-radius: 0.3em;
}

#card-1 {
  grid-area: "card-1";
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  border-top: solid 0.8em purple;
  border-right: solid 0.8em white;
  border-bottom: solid 0.8em white;
  border-left: solid 0.8em white;
}
#card-2 {
  grid-area: "card-2";
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  border-top: solid 0.8em purple;
  border-right: solid 0.8em lightblue;
  border-bottom: solid 0.8em white;
  border-left: solid 0.8em white;
}
#card-3 {
  grid-area: "card-3";
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  border-top: solid 0.8em purple;
  border-right: solid 0.8em lightblue;
  border-bottom: solid 0.8em mediumslateblue;
  border-left: solid 0.8em white;
}
#card-4 {
  grid-area: "card-4";
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  border-top: solid 0.8em purple;
  border-right: solid 0.8em lightblue;
  border-bottom: solid 0.8em mediumslateblue;
  border-left: solid 0.8em goldenrod;
}

.cursive {
  font-family: 'Sacramento', cursive;
}

.align-left {
  text-align: left;
}

.black-text {
  color: black;
}

.rates-card {
  width: 100%;
  max-width: 18.3em;
  height: 100%;
  max-height: 11.5em;
  padding: 5em 0 2em 0;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
  border-radius: 50%;
}

.price {
  font-size: 2rem;
}

#portrait {
  width: 17em;
  height: 35em;
  border-radius: 50%;
  object-fit: cover;
  border: solid 0.2em white;
}

.portrait-text {
  font-size: 4rem;
}

.description {
  font-family: 'Barlow', sans-serif;
  font-size: 2rem;
}

#about {
  text-align: center;
}